doctype html
html
  head
    title Mutably front-end
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/style.css')
    script(src='https://code.jquery.com/jquery-3.2.1.js')
    script(type='text/javascript', src='/script.js')
  body.container
    .col-sm-8.col-sm-offset-2
      nav.navbar.navbar-default
        a.navbar-brand(href='/') Mutably Front-end
      .panel.panel-default
        .panel-heading Books
        //- ul.list-group
        //-   each book in books
        //-     li= book.title
        each book in books 
          .book
            img(src=book.image class="book-img book-info")
            p(class="book-title book-info") #{book.title}
            p(class="book-author book-info") #{book.author}
            p(class="book-releaseDate book-info") #{book.releaseDate}
