/*Custom styles here*/

/** {
  border: 1px solid black;
}*/

.book-image {
  height: 100px;
  width: 100px;
}

.list-group {
  list-style: none;
}

.edit-text {
  width: 80%;
}

.book-info {
  width: 100%;
}
